.sub-page-banner{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 360px;
  display: flex;
  align-items: center;
  .banner-content{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    .inner-heading{
      margin: auto;
      font-size: 50px;
      line-height: 55px;
      color: #fff;
      max-width: 1440px;
      width: 100%;
    }
    .breadcrumb {
      height: 80px;
      display: flex;
      align-items: center;
      margin: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      ul {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }

          span {
            color: white;
          }
        }
      }
    }
  }

}